/*General*/

@font-face {
    font-family:"miFuente";
    src: url(../fuentes/magnetob.ttf);
    font-weight: normal;
    font-style: normal;
}

body{
    background: #1D202B;
	color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.backgroundImage{
        padding: 0px 0PX 200px;
        margin: 0px -10px -7px -10px;
        background-color: black;
        background-image:url(../Imagenes/foo-fighters1.jpg) ;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
}

/*Aca empieza el header*/

header{
    background-color: black;
    position: sticky;
    top: 0%;
    z-index: 1;
    border-top: double red 10px;
    border-right: double red 10px;
    border-bottom: double red 10px;
    border-left: double red 10px;
    display: grid;
    grid-template-rows: 110px;
}



#cabecera h1{
    font-family: "miFuente";
    padding: -40px 10px 10px -40px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
}


#navegador{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 0px;
    margin: -3px 0px 0px 0px ;
   
}

#navegador .navDer{
    background-color: brown;
}

#navegador div ul{
     margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}

#navegador div ul li{
    list-style: none;
}

#navegador div ul li a{
    text-decoration: none;
    color: white;
}
/*Aca empiezan los textos*/


.text{
    display: flex;
    flex-wrap: wrap;
}
#memorial{
    display: grid;
    grid-template-columns: 80%;
    margin-top: 35px;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
}

#bio{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
   
}

h2{
    padding: 10px 0px;
    color:rgb(224, 110, 110);
    text-align: center;
}
 

p{
    text-align: center;
    color: white;
    line-height: 20px;
    text-align: justify;
    text-justify: inter-word;
}




/*Aqui empieza el footer*/
footer{
    margin: 0px -10px -10px -10px;
    background-color: black;
}

#contactUs{
    color: white;
}

#footerRedes{
        display: flex;    
        padding: 20px;
        font-size: 30px;
        text-align: center;
        justify-content: flex-end;
        padding: 10px 0px 10px 0px;
        font-size: 30px;   
}

.fa{
    text-decoration: none;
    margin: 5px 20px;
    color: white;
}

.facebook:hover{
    opacity: 0.7;
}
.twitter:hover{
    opacity: 0.7;
}
.spotify:hover{
    opacity: 0.7;
}

.facebook {
    padding: 0px;
    margin:0px 20px 0px 0px;
    background: #3B5998;
    color: white;
    text-decoration: none;
}



.twitter {
    padding: 0px;
    margin: 0px 0px 0px 0px ;
    background: #55ACEE;
    color: white;
    
}

.spotify{
    padding: 0px;
    margin:0px 20px 0px 20px ;
    background: #0dc416;
    color: rgb(255, 255, 255);
}



strong{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: justify;
    color: white;  
}



/*Concerts de css*/



.contenedor {
	width: 90%;
	max-width: 1400px;
	margin: auto;
	padding: 40px 0;
	font-family: 'Roboto', sans-serif;
	

}


.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {
	display: grid;
    grid-template-columns: 3fr;
    grid-gap: 20px;
}

.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;

	
}

.card .textos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Merch Css  Aun en proceso*/
/*.productos-div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img{
    transition: height 2s, width 2s;
}

.img:hover{
    height: 400px;
    width: 400px;  
}

.titulo-cubo{
    background-color: black;
    color: azure;
}


@keyframes div_en_movimiento {
    /* from{background-color: red;}
    to{background-color: yellow;} */
    /* 0% {background-color: darkgreen;}
    25% {background-color: darkviolet;}
    50% {background-color: gray;}
    100% {background-color: aqua;} */
    /*0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} 
}*/


/*Acas empiezan las Medias Queries*/

@media screen and (min-width: 0px) and (max-width: 767px) {
    #cabecera h1{
        margin-top: -7px;
    }
    #navegador{
        display: none;
    }
}